[2013-06-26 22:40] bamos opened #1 "Support for functions."

[2013-06-26 22:41] bamos opened #2 "Support for absolute value."

[2013-06-26 22:44] bamos opened #3 "Support for variable assignment to add variables to the map."

[2015-02-16 16:20] bamos opened #8 "Migrate CI and biicode to my accounts"

[2016-02-09 16:39] #8 closed

[2016-02-26 22:56] bamos opened #11 "Update tests to return nonzero upon failed asserts"

[2016-04-18 06:44] VinGarcia opened #15 "Should we mimic Python operators and syntax?"
Hello @bamos, with the multi-type support I am presenting on my pull request we will have the option to work with:

- Boolean types
- String operations

etc.

What if we try to mimic python operations and syntax.

Until now we were following C standarts, so `true` is the same as `1` and `false` the same as `0`,
there were no boolean type, and no string operations.

Do you think it would be a good

[2016-07-09 23:52] bamos commented on #15
Hi @VinGarcia - sorry, I just realized I overlooked this from a few months ago. I think we've partially added this, like for string concatenation. I'd also be okay adding it for the other expressions. You can keep this issue open if you were planning on adding it and close it otherwise.

-Brandon.

[2016-07-10 05:13] VinGarcia commented on #15
I think I will make these changes with time.

It would be even better if we could think a way toggle the flavor of the syntax between the C, Python and others. I mean python-like syntax is just a personal preference. But I can't think of a good way to do that for now =/.

I will convert most things to a python style then.

[2016-07-10 11:09] bamos commented on #1
Resolved by #20

[2016-07-10 11:09] #1 closed

[2016-07-10 11:10] bamos commented on #11
Resolved with Catch.

[2016-07-10 11:10] #11 closed

[2016-07-10 11:11] bamos commented on #3
Also resolved

[2016-07-10 11:21] #2 closed

[2016-07-10 16:12] VinGarcia commented on #3
This one is not fully resolved yet @bamos, we can add support to it by adding a function "set_value()" but we still don't have an working operator "=". I have made an experiment to try to add it (saved on a separated branch) but I ended up with one problem and one choice:

problem:

`a = b = c` should be evaluated from right to left, I must think how to make that happen.

choice:

I need to make a

[2016-07-11 13:08] bamos commented on #3
Now resolved by #21

[2016-07-11 13:08] #3 closed

[2016-07-21 18:25] VinGarcia commented on #15
I was thinking about this Issue, and I think that since this is a framework this kind of decision should be made by whoever uses the library. In future we should plan a way to make calculator extensible so that this kind of choice could be made by the user of the library.

For now I think we could close this issue.

[2016-07-21 18:25] #15 closed

[2016-10-05 23:32] VinGarcia opened #31 "packToken::str() function breaks on cyclic data types"
Currently the `packToken::str()` function when printing a Map or a List will try to recursively print the entire tree of values. If one these values forms a cycle this recursion will go on until the stack overflows.

We should set a recursion limit for this function.

[2016-10-05 23:34] VinGarcia opened #32 "None, False and True key-words are hard-coded"
The variable names: None, False and True are hard-coded to their respective values inside the calculator class. We should fix this and add them as global variables instead.

[2016-10-05 23:48] VinGarcia opened #33 "Numeral operations should also return Integers"
Currently every numeral operation can only return tokens of the REAL type.

It would be expected that if both operands are of type INT that the resulting token would also be of type INT, as it is in most modern languages.

[2016-10-06 15:02] VinGarcia opened #34 "Garbage collector cycle problem"
Currently we use a reference counting system for garbage collecting. I think it is specially efficient with the current architecture because we only need to manage the objects and lists, avoiding the worse part of the draw back of incrementing and decrementing the counter too often.

But there is still a problem to concern, namely the reference counting mechanism can not delete structures if they

[2016-10-10 02:55] VinGarcia opened #35 "Defining new Operations is overly complicated"
After writing the Wiki about [Defining New Operations](https://github.com/bamos/cpp-expression-parser/wiki/Defining-New-Operations) I realized that it is overly complicated.

The mask concept makes it hard to explain, and harder to understand the code.

We might still keep the mask concept, but if we do so, the user should not be exposed to it.

For example if instead of making a function that ret

[2016-10-18 16:51] VinGarcia commented on #32
This last merge fix the problem.

[2016-10-18 16:51] #32 closed

[2016-10-24 23:12] VinGarcia commented on #35
Commit #38 fix this.

Now we need to update the wiki, before closing this Issue.

[2016-10-26 13:01] VinGarcia commented on #35
The wiki page has been updated:

https://github.com/cparse/cparse/wiki/Defining-New-Operations

And I'll now close this issue.

[2016-10-26 13:01] #35 closed

[2016-10-26 13:04] VinGarcia opened #39 "We should add a builtin BOOL type"
Currently we represent boolean types as C would, 0 means false, and != 0 means true.

This works and is not bad, but if our users want to have a BOOL type they would be forced to implement one themselfs, and that would be an unnecessary complication.

Since having a BOOL type is quite common in programming languages we should define a builtin one on our system.

[2016-11-04 02:10] VinGarcia opened #40 "We should support custom unary operators"
Currently we allow our users to define custom binary operators, but not unary.

Since this is a very basic concept we should handle this sometime soon.

[2016-11-04 04:32] VinGarcia opened #41 "The default map should keep insertion order"
The current TokenMap class uses the std::map implementation. This map is alright but if you try to iterate over it, e.g.:

[code]

It shows the keys in alphanumerical order instead of the insertion order. This is undesired since Javascript or Ruby users would expect it to remember the insertion order.

This feature should be set either hardcoded or as an optional feature (but i think no one will r

[2017-01-13 03:15] VinGarcia opened #46 "We should check the error messages"
The error messages were not a priority until now. But it is the moment to fix them.

We have currently 2 major problems:

1. Some error messages just don't make any sense.
2. Currently it is not possible to keep track of the line where the error happened.

The calculator should count how many new line characters have been parsed, and keep it as an available variable while compiling and evaluating

[2017-01-17 07:29] KrzysztofSakowski opened #47 "Broken link in README.md"
Link in "As a sub-parser for a programming language." section of README.md file to "jSpy programming language" raises 404 error.

[2017-01-17 18:39] VinGarcia commented on #47
Thank you @KrzysztofSakowski, just fixed it in 5f2633abe8004104e294d423f5849aed6e940ff9.

If you plan to checkout the JSpy project now, I suggest you to checkout the `dissertation` branch (the current most stable).

[2017-01-17 18:39] #47 closed

[2017-02-28 09:12] chan-tw opened #48 "handle_unary() not working?"
Hi,

The following unary expressions break:
[code]

Code used is very basic:
[code]

It seems `rpnBuilder::handle_unary()` is not creating the correct RPN output for the above cases; debugged RPN output of the above show:
[code]

[2017-03-10 01:02] VinGarcia commented on #48
Uhm, that is true! It was easy to reproduce, I wonder how it wasn't detected before. I will work on it.

Thanks!

[2017-03-10 05:14] VinGarcia commented on #48
Fixed @chan-tw, it seems I added this bug not long ago and there was not test to prevent me from doing it. I added a new test and fixed the bug.

Also, sorry for the delay for reading your post, either github did not bother to sent me an e-mail or gmail blocked it.

[2017-03-10 05:14] #48 closed

[2017-03-10 06:46] chan-tw commented on #48
@VinGarcia Thanks, good fix.

[2017-03-27 12:54] astlin opened #50 "Operators from alphabetic characters"
Is it possible to create operators from alphabetic characters i.e. "and", "or", "like"?

[2017-05-01 16:49] VinGarcia commented on #50
Yes it is we have the reserved words concept.

On the JSpy programming language for example I have implemented operator 'in' `if (10 in [1,2,3,4,5]) { ... }.

Sorry for the delay to answer I can't get gmail to properly highlight these e-mails for me.

[2017-05-02 12:47] VinGarcia commented on #50
Reoppening this issue.

I'll close it after I write the some documentation on the wiki explaining how to do this.

[2017-05-03 01:02] VinGarcia commented on #50
I have added an explanation on how to do this on a new Wiki page: [Reserved Word Operators](https://github.com/cparse/cparse/wiki/Reserved-Word-Operators)

If you think the explaining is good enough you may close the issue, or else tell me what are you doubts and I'll try to improve the text.

[2017-05-09 11:36] VinGarcia commented on #39
Added on 985fe62019b411c4b39b25b2da54f06cb0b7060b.

Closing this issue.

[2017-05-09 11:36] #39 closed

[2017-05-09 11:55] VinGarcia commented on #31
Fixed on commit be451335d5430dda3450a5d9ef3b212b2e69a924

[2017-05-09 11:55] #31 closed

[2017-05-09 12:00] VinGarcia commented on #34
Update: JavaScript uses mark & sweep, and Python uses Reference Counting + Mark & Sweep specialized for data cycles.

So we will need to implement a mark & sweep garbage collector at some point. Maybe we could use Python approach.

[2017-05-09 12:01] #50 closed

[2017-11-10 11:07] zhxilin commented on #40
Yes, custom unary operator support is necessary. In my case, I would like to add reverse operator, here is a workaround by now:
[code]

[code]

And, add the following code to rpnBuilder::handle_unary:
[code]

[2017-11-10 13:29] VinGarcia commented on #40
Yes, that is important, thanks for sharing your solution =].

I was giving my priority to the new Mark & Sweep Garbage collector but I can probably add this new feature quickly. I will try doing that this weekend. I'll report back when I get it working.

[2017-11-14 21:06] VinGarcia commented on #40
Finished adding support for unary operators: 2b4fa5f3b3b24cfb00d5d4d9b9071ec0b57b15b9

Now it is possible to add your own left-unary operators and it is only a little different from adding a binary operator:

[code]

The `UnaryNumeralOperation` is just like any function you would create for a binary operation, the
difference is that the left operand is useless and contains a token of type `UNARY`.

[2017-11-15 12:01] zhxilin commented on #40
It works perfect! Thx!

[2017-11-15 14:03] VinGarcia commented on #40
That's great =], I'll close the issue when I add support for right-side unary operators as well.

[2017-11-16 01:20] VinGarcia commented on #40
Just added support for right unary operators: c8a79020f9874e3177fe21425abb810e7376b5d8

This commit also fixes a bug with the left unary operators so @zhxilin you should probably pull these changes.

The only thing that is not so cool about this commit is that it is not yet possible to accept "lvalues" in
the operations, thus: `a++` and `a--` is not implementable yet, even though it is possible to

[2017-11-16 01:20] #40 closed

[2017-11-16 01:21] VinGarcia commented on #40
Also, @zhxilin since this is a new feature there might be some new bugs I haven't detected with my tests if you find any you may report on this same issue or create a new one.

[2017-11-16 01:28] VinGarcia opened #52 "Custom operations with LValues should be possible"
LValues are Left Values in an assignment, e.g.: `a = b`, i.e. the values that are linked to a named variable.

Currently, there is only one operation that changes the value of a variable and that is the assignment operator `=`.

An example of another custom operator that changes the value of a variable is the increment and decrement operators of C++, e.g.: `a++` and `a--`. These are not yet possib

[2017-11-18 14:38] zhxilin commented on #40
Great! Thank you!

[2017-12-18 09:29] astlin opened #53 "Operator recognition problem."
With opMap:

[code]
Parsing expression 'function() == [1,2,3]' - ok, but 'function()==[1,2,3]' gives 'Invalid operator: ==[' exception.

[2017-12-18 09:39] astlin opened #54 "Link operations to operators problem."
I've defined non-strict comparison operator '=%':

`opp.add("==", 9); opp.add("!=", 9); opp.add("=%", 9);`

But it won't match 'ANY_OP' pattern, so this do not work:

`opMap.add({ARR, ANY_OP, ANY_TYPE}, &ArrayOnAnyOperation);`

And I have to define it explicitly:

[code]

[2017-12-18 12:11] VinGarcia commented on #53
That's a true problem I have to figure out a good solution.

Currently, there is a hard-coded solution that solved this for "(", ")" and "_" and string delimiting characters, but it did not include "[" and "{".

I just fixed that in this commit: 235da7034c35f72af6c031d425f78ab02df679be
So your code should work now if it doesn't please let me know.

This is a hard-coded solution so I will not consi

[2017-12-18 12:21] astlin commented on #53
Thanks, it works now.

[2017-12-18 13:33] VinGarcia commented on #54
The masking system is a little complicated. I can think of 2 possible reasons for this problem:

1. ARR ID is colliding with some existing type making the operation be processed by some built-in one instead of the one you were expecting.
2. You have defined a more specific operation for this same types, e.g. `opMap.add({ANY_TYPE, "=%", ANY_TYPE})`

Can you provide the code you use to declare all y

[2017-12-20 08:55] astlin commented on #54
Well, actually there is a declaration of '=%' for ANY_TYPE on ANY_TYPE right before the last one 'ANY ANY ANY'.

[code]

[2017-12-20 10:56] VinGarcia commented on #54
This `{ANY, =%, ANY}` operation is most likely taking precedence.

The `ANY_OP` operations are only evaluated if there is no match with a specific operation, quoting the code:

[code]

This could probably be better explained in the docs. In any case I suggest you group your `ANY_OP` operation declarations and set put them after the rest, so it will be more clear the actual precedence order:

[code

[2017-12-20 11:24] VinGarcia commented on #54
I have updated the doc [section on this](https://github.com/cparse/cparse/wiki/Defining-New-Operations#operation-matching-loop), and it should be clearer now.

Let me know if this helps.

[2017-12-20 17:01] astlin commented on #54
Ok. Thanx for explanation.

[2017-12-20 17:01] #54 closed

[2018-04-10 14:12] grazba opened #55 "Compiling on windows using visual Studio"
Hi , i want to use this parser in a project we are currently working on.

We are developing on windows and use visual studio, i have always been the IDE guy so i have no idea how makefiles work i tried to create a project adding the files (following my understanding of the makefile - yes i did some reading on makefiles-) but i can't get it to work.

if i understand correctly , there are 2 librarie

[2018-04-10 15:03] VinGarcia commented on #55
Hello @grazba, the compiling process is as you described but there are some details that might help you:

1. You don't need to compile the files `test-shunting-yard.cpp` and `catch.cpp` they are used for adding new features to the library itself.
2. The core-shunting-yard.o binary is formed by compiling the files into a single file:
  - shunting-yard.cpp
  - packToken.cpp
  - functions.cpp
  - con

[2018-04-10 15:11] VinGarcia commented on #55
Also there is a difference between a .dll which is a Shared Library and an Object file. I actually never needed to use a Shared Library myself, the `.o` the Makefile create are just a precompiled version of the `.cpp` files meant to be included in your compilation process, but they could be replaced by the original `.cpp` files with no loss.

The only requirement they might need to work is for the

[2018-04-11 09:08] grazba commented on #55
Thank you for your answers, it helped a lot !

I had an issue with ref-qualifiers (not supported by the compiler we're using).
i compiled it in a static library successfully thank you very much.

[2018-04-11 13:32] grazba commented on #55
Hi again , so i have to reopen this one ^^ !

So i did get it work, but the built in features are not there, i added the builtin-features.cpp file to the project and even added the headers to it as well just for good measure.

But for a reason the parser can not recognize the operators , if i declare a variable and send it to the parser to evaluate and print it it works fine.

I tried to create an

[2018-04-11 13:48] VinGarcia commented on #55
Yes it should not have changed the behavior.

The built-in features are added during static initialization time: On each of the files in `builtin-features/` you will find a singleton class being declared, it has no attributes and it is only used to register the operators, reserved words and etc on the global structures that hold them. An example of such class:

[code]

[2018-04-11 14:54] grazba commented on #55
well i printed something on each of the constructors to see if the code is even executed and apparently it is not.
I'm trying to understand where/when is the the built-in code executed and i find it odd that the built-in features files do not have any include statements for the core types. You said it is at static initialization time, but most of the structs do not define an instance except one

[

[2018-04-11 15:03] VinGarcia commented on #55
Check the file `builtin-features.cpp` this is the file that include the core headers and then include the files in the builtin-features/ directory.

It is a little confusing but before this change all the builtin-features were kept in a single file whicih was much more complex to read.

[2018-04-11 15:07] VinGarcia commented on #55
Also if you look carefully all of them declare instances, except the name the instance use is the same as the class name (this is a way of implementing the singleton pattern, since once this instance exist the class name is not acessible by other parts of the code, only the instance).

[2018-04-11 15:33] VinGarcia commented on #55
I have made some changes on the builtin-features files to improve its readability:

1. builtin-features/*.h were renamed to builtin-features/*.inc: They are not header files they are cpp files meant for inclusion. According to google style guide for C++ their extension should be .inc.
2. The Startup class instances had the same name of their classes, but this was confusing, now the name used is "_

[2018-04-11 15:34] grazba commented on #55
So as i expected if i add the features in my code it works fine ! i'll look more into it to find a way to get everything as a library (or two keeping the original design) and if i get it working i'll share the solution files for visual studio 2013-2015-2017.

looking forward to your changes too , have a good one talk soon.

[2018-04-12 23:40] VinGarcia commented on #55
Hello @grazba, I was unable to work yesterday night but I just did it.

There is now a new file called `cparse/builtin-features.inc`.

If you include this file inside your `main.cpp` file you will be able to call the function `cparse_startup()` that will initialize all built-in features. An example of this would be:

[code]

There is one caveat: If you do include this file you should not include t

[2018-04-13 08:53] grazba commented on #55
Thanks for the update, this solution is similar to what i'm doing, i have to add features anyways so keeping the built-in features in my project and only using the core as a library is a great solution.

I will close the issue now thank you again !

[2018-04-13 08:53] #55 closed

[2018-05-04 15:38] grazba opened #56 "Passing a pointer to the parser"
Hi , it's me again ^^.

I'm currently working on some features (the end goal is to write a little scripting language for a module in our software). I have to pass a pointer of a class to the parser, so i followed your example and stored the pointer as an integer :
[code]
where Accessor is my constructor for my class and _project is a shared pointer of my project type, but i get an error when tryin

[2018-05-04 23:51] VinGarcia commented on #56
Uhmm, it should work.

The packToken type can be printed or covered to a string:

- `std::cout << scope["fpdProject"] << std::endl;`
- `scope["fpdProject"].str()`

This should help us understand what's going on.

[2018-05-06 04:01] VinGarcia commented on #56
I have come up with a small sample with this same trick that works in gcc, maybe testing it on your environment could help us isolate the problem:

[code]

I compiled this with:

[code]

I hope this helps.

[2018-05-07 15:41] grazba commented on #56
Totally on me , i did not use the same key to write then read my bad thanks again !! (i'm starting to understand the design of the parser better hopefully you won't see me here again)

[2018-05-07 16:48] VinGarcia commented on #56
Hehe that's good. But feel free to open a new issue if you have one.

[2018-05-10 05:06] jojogh opened #57 "How can cparse be compiled by Visual Studio in Windows Environment"
How can cparse be compiled by Visual Studio in Windows Environment?

[2018-05-10 14:08] VinGarcia commented on #57
Hello @jojogh,

We have had an issue earlier about this same issue #55. The user found a way to accomplish it by adding the 4 files of the `core-shunting-yard.o` library to his project, i.e.:

* shunting-yard.cpp
* packToken.cpp
* functions.cpp
* containers.cpp

He also tried compiling the builtin-features.o library but it did not work properly probably because of the static initialization used by

[2018-05-10 14:50] VinGarcia commented on #57
Hello @jojogh, I have added some documentation for this, but since this is not tested it might need some refining:

- [Download and Setup](https://github.com/cparse/cparse/wiki/Download-and-Setup#for-visual-studiowindows-users)

Tell me if there are any parts of it that are confusing.

[2018-05-11 02:40] jojogh commented on #57
Many thanks, Vinícius Garcia ! I would take a look!

2018-05-10 22:50 GMT+08:00 Vinícius Garcia <notifications@github.com>:

[2018-05-14 02:19] jojogh commented on #57
Hi, Vinicius,
I have successfully run the example following your instructions, here is
some things I want to share:
1. seems the project only support VS 2017, that should be C++ 11's problem;
2. If you build the code in Visual studio, you have to include the project
path;

I would test the project, many thanks!

Alex Zhang

2018-05-11 10:40 GMT+08:00 Yuanhao Zhang <yuanhao.zhang@gmail.com>:

[2018-05-14 02:49] VinGarcia commented on #57
That's good @jojogh, I have updated the [Download and Setup page](https://github.com/cparse/cparse/wiki/Download-and-Setup) with your feedback. If you can please read it to see if I got it right =].

I hope it works well for you. Regards.

[2018-05-14 12:53] jojogh commented on #57
Sure, no problem. I would take time to study and use this project, if I
meet any problem, I would seek help from you.

thanks

Alex Zhang

2018-05-14 10:49 GMT+08:00 Vinícius Garcia <notifications@github.com>:

[2018-05-14 13:09] grazba opened #58 "operator precedence special case"
Hi i did not know how to name the issue but here is an explanation :
My goal is to be able to write this :

`W("name1").L("name2")`

I have done this the way i wanted to with different classes, next i have to implement different operations possible between my classes. My issue is when using operators , when i write :

`W("name1").L("name2") + W("name1").L("name3")`

it tries to add the data return

[2018-05-14 13:18] VinGarcia commented on #57
:+1: Then I am closing this issue.

Thanks @jojogh for the feedbacks and feel free to report any new problems.

[2018-05-14 13:18] #57 closed

[2018-05-14 13:28] VinGarcia commented on #58
Hello @grazba, this is called operator precedence.

What you are saying you want is for the operator "." to have greater precedence than the operator "+" meaning it will be evaluated first, as in:

- `a*b + c*d`

Where the "+" operator will be evaluated last.

In CParse the operator precedence of each operator is defined using the `calculator::Default().opPrecedence` API, e.g.:

[code]

So in your

[2018-05-14 13:31] VinGarcia commented on #58
@grazba, one more thing. I have had another user wanting to use Visual Studio on his project. So I wrote some documentation based on your issue and his feedbacks in the [Download and Setup page](https://github.com/cparse/cparse/wiki/Download-and-Setup#for-visual-studiowindows-users). If you have some minutes could you read it and see if what I wrote makes sense?

I ask this because I don't have a

[2018-05-14 13:40] grazba commented on #58
yeah that's exactly what i was suspecting  hence the name of the issue but i was not sure so yeah thanks i will try to fix it and close the issue when done.

For the the visual studio part , yes i will check the doc out and get back to you 👍 !

[2018-05-14 16:03] VinGarcia commented on #58
Ops, I did not notice the name hehe, sorry. In any case, this looks like the kind of problem that would be fixed by changing the precedence values. I might be wrong since these expressions are complex but if this doesn't work tell me.

Also, there is a function I use to debug this type of expressions the `calculator::str()` function. You can use it like this:

[code]

The result will show the oper

[2018-05-15 09:52] grazba commented on #58
Thanks for the details it's pretty helpful for debugging indeed !

For the visual studio part, yes it is alright the only little detail is the note about c++ 11 support. The compiler always had issues with covering all of the standard , but since 2017 they are working hard on supporting c++ 11/14/17 and it should be 100% standard pretty soon, visual studio 2013 does support c++11 but doesn't suppo

[2018-05-15 13:16] VinGarcia commented on #58
That's good @grazba and thanks for the feedback.

But give a little more details: this problem with the reference qualifiers causes the compilation to break or it works fine?

[2018-05-15 13:35] grazba commented on #58
with VS2013 it won't compile , but deleting the "&&" after the function name (i forgot which one it was) will make it work just fine. The feature is available since VS2015 !

Here you can find details about standard support for visual studio maybe you can link it to the users :
[support for c++ 11-14-17 with visual studio](https://msdn.microsoft.com/library/hh567368.aspx#corelanguagetable)

[2018-05-16 12:25] #58 closed

[2018-05-16 12:41] grazba opened #59 "Overriding the = assignement operator for a class"
Hi again,

Until now i had to define the different data types and function i was going to use and everything is working great. The data we handle can be pretty big so in our framework we never load anything in memory unless we are using it, so we use files/database which means reads and writes. The reading part is all done, data is transferred and handled by the parser. Now the writing part : i ne

[2018-05-16 14:00] VinGarcia commented on #59
Hello @grazba, this is an issue we still have on the system #52, I was postponing this because it is somewhat complex, but I will put my hands on it so it is fixed soon.

In the short term, we will have to think of an alternative solution.
One suggestion would be to implement it as a `update()` [type-specific function][type-specific-func], e.g.:

[type-specific-func]: https://github.com/cparse/cpa

[2018-05-17 18:14] VinGarcia commented on #59
That's cool @grazba. I am happy to know you are really using this library =].

And about the issue I think I have fixed it =].

There are still some steps before I close issue #52:

- I need to write some tests
- I need to write some documentation
- I want to add 2 new built-in operations: ++ and --

However, if you pull the most recent version of the library and read the `builtin-features/operati

[2018-05-23 12:51] grazba commented on #59
Hi @VinGarcia  sorry for the late reply, i was pretty busy with some other projects :) !

I have one question about the assignment operator , what am i supposed to return ? and is the return value what makes the assignment ?

[2018-05-23 13:07] VinGarcia commented on #59
This type of operator usually return the same thing that was assigned. The actual assignment is performed on the object which stores the variable being assigned, i.e. the `data->left->origin` object, which may be either a MAP or a LIST, in both cases you must use the index of the variable stored on `data->left->key`, which on the first case is a string and on the second case is an integer. The lin

[2018-05-23 14:30] grazba commented on #59
i can't get it work at all with my types , i tried writing my own function but even with standard one the assign function is not called and i get a " Unexpected operation with operator '=' and operands .." and the weird thing is that it writes the full maps (of my types) ignoring the str functions that i defined !

[2018-05-23 15:28] grazba commented on #59
actually before this version i could assign my types to a variable and it did it by default , but now the assignment is just not working at all !

[2018-05-23 17:06] VinGarcia commented on #59
Uhm, for some reason I can't see these messages on github, so I will answer
from my e-mail.

About this problem with the normal assignment not working that is may be
because the new version of the file `builtin-features/operations.inc` not
only defines the function Assign but also adds it to the operations map.
This was not required before but it is now:

[code]

This should fix the problem, if no

[2018-05-24 08:44] grazba commented on #59
i deleted the messages because it was my fault , i tried to get rid of the .inc files replaced them with regular .h ones and for some reason it did not work, so every built-feature was missing assignment and str but weirdly enough my types were still there. So yeah i deleted the messages because everything is working as expected (y) !

[2018-05-24 08:44] #59 closed

[2018-05-24 13:34] grazba opened #60 "If statement (this is not an issue with cparse)"
Hi again @VinGarcia ,

So i'm almost done with my project , really happy to have chosen cparse as the parser !

Since you have already done it for your own language , i'm trying to implement a simple if statement
IF(expression, value if true, value if false) i was thinking about implementing it as a function, but i don't how to go about and somewhat i have an intuition that there is a "correct" wa

[2018-05-27 21:00] VinGarcia commented on #60
Hello @grazba, I am happy you liked it, thanks for using it and for all the feedbacks =].

I was thinking about how my statements are defined in my programming language and I found that I wanted to simplify it before I write about how I did it. That's why I was taking some time to answer =P.

After I am done adding a new statment will work much like the way we add new functions/operations/etc, jus

[2018-05-28 03:55] VinGarcia commented on #60
@grazba, hello again!

I have written some examples on the [examples page][examples] (that until now was mostly empty).
This should help you implement any type of statement you like.

[examples]: https://github.com/cparse/cparse/wiki/Examples

The good news is that the code is not complicated.
The bad news is that it is quite big :sweat: .

I am considering adding some built-in implementations of

[2018-05-28 08:19] grazba commented on #60
Hi !!
thanks for the detailed example ! i will work on it and get beck to you if i detect any typos ^^ ! i agree maybe the statement mechanism should be a part of cparse in the future =] !

cheers 👍

[2018-06-01 14:15] grazba opened #61 "Garbage Collector List destructor"
Hi, so i'm having an issue that i can't really figure out i'm using a list to store a BIG array of doubles so the copying goes fine, but once in my assignment function i write the same data on file then exit the function BUT the program won't go out and keeps calling the List destructor. i've tried letting it do it for hours and still the same issue it never get out of it.

[2018-06-03 13:13] VinGarcia commented on #61
UHmm, this seems problematic :thinking:

Can you give me a sample code that reproduces the problem? In the meanwhile I will read the code for the list destructor to see if I find any flaws on it.

Thanks for the feedback.

[2018-06-11 07:51] grazba commented on #61
i can't really i had to change my approach for a more realistic one regarding the data i handle (>50Gb). Maybe the issue was coming from something else.

[2018-06-11 13:20] VinGarcia commented on #61
I see, sorry I didn't have time to investigate it more closely last week. I hope this new approach works alright =].

[2018-06-11 13:35] VinGarcia commented on #61
Also grazba, there is a concept that might be useful for you. Have you heard of generators?

This concept exists in many programming languages and it is a little hard to grasp at first but is very useful. One of the scenarios where it is helpful is when you are iterating over a really big array.

A short description of the concept is a function that return one value on each iteration of a for loop

[2018-06-13 08:20] grazba commented on #61
I have been doing some tests, and the issue is time i tested again with some big data (smaller than the other one) and it takes forever to clear the list calling the packToken destructor for each element, it would be great if i could just drop the memory... so the problem is really about the data type being packToken the compiler can't clear it in O(1) and has to call the destructor even if my dat

[2018-06-13 12:56] VinGarcia commented on #61
Uhmm, the pack Token is a dynamic pointer that can be any type, thus it can't be passed by value (although i simulate it by cloning each Token) and stored in an array as you wanted.

However a simple solution would be to implement a new type called "double_array" since and then implement operators for it such as the index operator [] and some type specific functions like .len()

This would be the

[2018-06-13 13:07] VinGarcia commented on #61
Just to be more clear, the list I am suggesting could be implemented internally as an std::vector<double>, return only packTokens of type real accept only packTokens that are convertible to the double and throw an error otherwise.

[2018-06-19 09:29] grazba commented on #60
@VinGarcia
Hello again , i'm struggling to implement an IF as a function , that takes a condition and value if true and another value if false.

i added if as a keyword and implemented a function that parses the expression extracts the tokens then calls a personal function that does the operation on data (reading from disk checking the condition and changing the values accordingly) and returns a p

[2018-06-19 13:37] VinGarcia commented on #60
Hello @grazba, I think there is a trick you are missing. This line:

auto falseValue = calculator::calculate(expr, globalMap, ")", &expr);

Will parse expression until it finds a ")" that is not preceded by a "(". In other words, it will parse the entire boolean expression in a single step.

The trick here is that we don't need to get the name of the variables nor check each operator separately, a

[2018-06-19 13:40] VinGarcia commented on #61
Thank you for all the support =], should I close this issue?

[2018-06-19 18:06] grazba commented on #60
Actually i don't have a choice here, i can't just parse the boolean expression, because it's not , what i'm trying to do is the following (it is working but it's not good looking and i didn't handle logical AND and OR.

My data types as i said before are big arrays of data, that i can't load on RAM directly. The IF(cond,value,Fvalue) takes a condition and checks it for every item of my data if it

[2018-06-19 20:59] VinGarcia commented on #60
Yes, I understand it better now :thinking:,

One way to put hands on the RPN is to use a function that is normally used internally:

[code]

It accepts the same 4 arguments as the compile/calculate, the last one is optional.

The RPN is kept on a TokenQueue_t (a.k.a. std::queue<TokenBase*>). I think I should probably replace it for a std::vector for simplicity of usage, but for now it is what we h

[2018-06-20 03:08] VinGarcia commented on #59
@grazba, I just wanted you to know I have written a new section on the docs explaining how to create new operations of this type, I called it [Creating Advanced Operations](https://github.com/cparse/cparse/wiki/Defining-New-Operations#creating-advanced-operations).

I will probably read it again someday, I never trust the first version I write =P.

Also, you don't have to read it but if you do, it

[2018-06-20 08:07] #61 closed

[2018-06-20 09:52] grazba commented on #60
I just tested the toRPN function , and it can be useful because i think it's still better than working on the string manually character by character. I suppose i can check the type of the elements returned by this function , (check if it is a number or an operator for example ?).

i'm thinking about another solution, because i need to store the conditions . In reality the calls for the if will alw

[2018-07-15 02:40] thelxz opened #62 "strtol() in calculator::toRPN can't support 64bit integers on MinGW, Windows"
Hi, cparse is work pretty well on Linux. But when I compile it by MinGW on Windows, the high 32 bits of numbers is allways 0.
It seems `long int strtol(...)` function return 32-bit integer, rather than 64-bit integer on MinGW/Windows, because of the data model of Windows is LLP.
related code:
[code]
Maybe the `strtoll()` is better?

[2018-07-17 01:18] VinGarcia commented on #62
Hello @thelxz, sorry for taking so long to answer and thank you for reporting this. This seems like a good idea, I will try to create a MinGW environment and test if this fixes the problem.

If it doesn't I will look for another solution.

[2018-07-17 02:03] VinGarcia commented on #62
Hello @thelxz, I was unable to reproduce the problem on my environment so I can't be sure my last push really fixed the problem. I only replaced `strtol()` for `strtoll()` as you suggested.

Can you confirm if this fixes the problem?

[2018-07-19 15:17] thelxz commented on #62
It works! This problem has been fixed.
My fault, I should have provided the failed test case at first. The test code:
[code]
Output with `strtol()`:
[code]
Output with `strtoll()`:
[code]

[2018-07-19 15:20] #62 closed

[2018-07-19 17:35] VinGarcia commented on #62
That's good! Thanks for the test code, I will add a test for it so this doesn't happen again.

[2018-10-27 17:54] mikepurvis opened #63 "Doesn't compile under clang 8."
Most of this is just pedantic grumbling, but the `conversion from 'long' to 'const packToken' is ambiguous` error looks legit and is preventing it from compiling.

[code]

Compiler:

[code]

[2018-10-27 21:04] VinGarcia commented on #63
Got it, I will take a look and try to fix it.

[2018-10-28 00:42] mikepurvis commented on #63
I'm assuming that gcc is making these test assertions work by promoting the long up to an `int64_t`, and then coercing that to a `packToken` using this constructor:

https://github.com/cparse/cparse/blob/e762179144777576a8a636e54fc2d327701e4da9/packToken.h#L26

To be honest, that does seem like a bit of a stretch, so I'm not shocked that clang doesn't care for it. The problem goes away if you expl

[2018-10-29 03:19] VinGarcia commented on #63
Well that's sure a problem between different compilers. I think GCC does not differentiate between `long` and `int64_t` but clang does.

If GCC did differentiate between them I could just add a constructor for the type `long`.

I also noticed that all errors are reported on the test file, so I will make 2 changes:

1. I will accept your suggestion and use the `.asInt()` to fix these warnings
2. I

[2018-10-29 03:33] VinGarcia commented on #63
@mikepurvis can you test to see if the problems are fixed?

I have made the changes I mentioned so to reproduce the compilation of the tests you should use

- `make all`

Also, if no more errors appear you may be able to run only `make` to compile the release version without compiling the code.

Thanks for reporting the problem, I hope this fixes it.

[2018-11-01 00:02] mikepurvis commented on #63
I seem to get a link warning now with `make` (still on OS X):

[code]

However, curiously enough the `make test` target now runs to completion:

[code]

[2018-11-01 02:18] VinGarcia commented on #63
That's good I think.
This -O1 option on the linkage step is for asking the linker to optimize the final binary.
Since it has only generated warnings it should be safe to use the library now, but I will search to understand why this option is not available on OSX (probably the ld binary is not exactly the same).

Were there any other warnings? I would be happy to fix them if possible.

Again thanks

[2018-11-01 11:50] mikepurvis commented on #63
If you're not opposed to it, just switching the buildsystem to CMake would take care of these kinds of cross-platform issues, since it has knowledge of what flags are appropriate for a debug vs release build across a wide range of compilers and platforms.

I think the main other warnings are as in the original post: complaints about const qualifier having no effect, and struct/class confusion betw

[2018-11-06 00:44] VinGarcia commented on #63
@mikepurvis these are good suggestions. I admit I have never used CMake on my own projects and I always felt that projects that use it are a little bit more complicated to use than with `make`, but this is from someone that never really learned to use CMake, I will search a little bit and see if I change my mind.

I will make this change on Travis, thanks for the suggestion.

If you have any other

[2018-11-06 00:44] #63 closed

[2018-11-09 22:15] mikepurvis opened #64 "Memory allocation patterns"
My application is pre-compiling symbolic expressions in `calculator` instances and then repeatedly eval'ing them at runtime. Obviously, the compilation stage allocates lots of TokenXX objects as it builds up the RPN list, but it looks like it then goes ahead and allocates essentially a parallel set on each evaluation:

https://github.com/cparse/cparse/blob/a9f26860283c2653f8a0fcb003cbb07f21b690af/

[2018-11-09 23:53] VinGarcia commented on #64
Hello @mikepurvis, I think allocations would be needed to store intermediary values when processing the RPN, but your suggestion about a preallocated value stack seems a nice way to go about it.

However, being honest, this might be a little trick to solve in the short term.

The easiest solution would be to preallocate an array of bytes and work on them for all new allocations.
However, I don't k

[2018-11-09 23:55] VinGarcia commented on #64
Also, are you using lists and maps or only basic types such as numbers and booleans? We might also consider thinking a solution that solves your use case first and waiting for making a bigger change with more time.

[2018-11-13 15:22] mikepurvis commented on #64
I'm not using any assignment operators at all— it's purely just crunching through pre-compiled expressions like `x + 1.23 * y + 123.0`, where the TokenMap supplying those vars has been cooked in advance, and is just having its valued changed. So I'm not needing to expand any vectors or maps on the fly.

I suspect the biggest issue here is that the the RPN stack is not uniform in type, so it really

[2018-11-14 02:03] VinGarcia commented on #64
Yes this is an option that might work and should'nt be too complicated once you already have the RPN ready :thinking:.

I have started working on that plan I suggested of imitating the JavaScript Token structure, if I have a working version I will share it with you, it would allow us to have tokens with the same size, i.e.:

[code]

If I have any good results until this weekend you might be able t

[2018-11-19 19:55] VinGarcia commented on #64
@mikepurvis I did not have enough time to implement this feature, you probably should try that solution using you suggested building an evaluator that receives the RPN as input and assumes everything evaluates to float.

Also if you have time and implement something you think would fit CParse you are welcome to submit a PR.

[2019-01-12 03:45] jpfeger opened #65 "Passing variables by references to the map"
Hi folks,

I forked the project and added the support for adding variables by references to a TokenMap instance, in addition to the existing extension by values. Example :

double alpha(0.0);
vars["gain"] = std::reference_wrapper<double>(alpha);

The variables get updated upon  assignment in a calculation and there is no need to consider the output stream.  Let me know if you think it would be wor

[2019-01-13 17:38] VinGarcia commented on #65
Hello Jean, thanks for the suggestion.

Can you exemplify your use-case? I think this can be a worthy contribution, however, we need to consider the pros and cons.

For example, if we add this new feature we'll add complexity to the framework which might complicate the documentation for new users.

On the other hand, if there is a use-case that we can estimate to be a common need and that will mak

[2019-01-13 18:07] VinGarcia commented on #60
Hello @grazba, I am sorry for not answering your last comment, I probably missed the e-mail that should notify me of your new message and life happened =P.

I assume you have probably figured out a solution to this problem by now after all this time but I think I can give you at least one tip that might be helpful, when you mentioned the way you are testing for maps:

The correct way to perform th

[2019-01-13 18:07] #60 closed

[2019-01-15 03:52] jpfeger commented on #65
Hi Vinicius,

A bit of backgroung before answering your points. I am a software engineer
working for CAE, a Montreal based, large company in the simulation and
training fields (https://www.cae.com/). I am currently evaluating the
Cparse library under Visual Studio 2017 for a potential use in our
frameworks.

To understand in a glance the additions from a userès perspective, you may
take a look at

[2019-01-23 01:01] VinGarcia commented on #65
Hello @jpfeger, sorry for taking so long to answer,

1. The TravisCI environment compiles it under GCC 4.8 on an Ubuntu VM.
2. Since the only types that are passed by value are strings, integers, booleans and doubles if you implement this change for strings it would be perfect.
3. I also considered that. If it did not crash it might be one of those cases where it is using a pointer to something th

[2019-01-23 04:09] jpfeger commented on #65
Sure, I'ill add the missing type, the string.

Since the developments are charged on my company's R&D I have a limited
amount of time to spend. So I tend to focus on the essential (the
extensions) and therefore I am not sure I'll have the time to install,
configure an Ubuntu environment.

For sure I will share  whatever I have added to the library in a few days
or weeks, The extended code under Vi

[2019-01-31 04:41] jpfeger commented on #65
Hi Vinicius,

a few updates:

1 - did not get yet my boss's approval for continuing as we are waiting to
clear a dll dependency first, In fact, it won't change anything as I'll
proceed anyway on my personal time :-)

2 - installing a VM seems too time consuming. I plan instead to merge
myself the changes from my VisualStudio repo to specific branches under
https://github.com/cparse/cparse . I'll l

[2019-02-21 23:44] VinGarcia commented on #65
Hello @jpfeger, sorry for the delay,

About 6: For you to make a Pull Request (PR for short) on CParse you just need to fork the repository on your own account. Then you should be able to submit a PR, here's the documentation:

- https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

About 2: Don't worry if the feature is good I will fix any problems on the Linux compilation, jus

[2019-02-22 05:21] jpfeger commented on #65
No problem for the delay. I was quite busy myself these days.

I attempted a few time to push a branch but was not allowed to proceed
(error: 403). Not sure if it relates to my credentials ... could you check
whether my two accounts on Git Hub (jpfeger@gmail.com +
jean-pierre.feger@cae,com) allow me to push something to the cparse repo?

Also, I am not sure about the exact way to push .. do we nee

[2019-03-01 13:15] VinGarcia commented on #65
You cannot push into someone else's repo, but you always push on your own repo, and ask me to pull your changes into my repo, that's the concept of the Pull Request.

The SSH key unrelated to this process of creating a PR, it is only used to allow you to make pull and pushes without ever needing to type your password, it is quite handy, but not a necessity for anything.

So I don't know if it is p

[2019-03-04 23:56] jpfeger commented on #65
I am pretty familiar with Git pull, commit, push as they are part of my
daily activity. Still I cannot push my local branch to the remote Cparse
repo likely for some right access. Images being worth thousands of words,
see my steps:

*The push operation itself: *

[image: image.png]

*then, the login: *

[image: image.png]

*and finally the failure:*

[image: image.png]

Note that entering ther co

[2019-03-05 00:21] VinGarcia commented on #65
I actually did not get the images but I am pretty sure I know what is wrong.

The first thing is that it is not normal to push to someone else's repo. I could give you permission but it would also give you permission to do a lot of stuff on the repo that might not be desirable. So this isn't the usual way.

What far more common is the concept of a Pull Request or PR, this is a more elegant way to

[2019-03-06 16:02] VinGarcia commented on #65
@jpfeger here's an example of a PR I just created to submit some changes on an open-source project of a friend of mine:

- https://github.com/arthurbailao/aws-kcl/pull/18

[2019-03-11 17:28] jpfeger commented on #65
... right, there was some misundertandings on my part regarding how git hub
works for collaborative developments.

I forked the Cparse repo jn my own space, pushed my changes to it, and
created a pull request without any reviewer for now. I sent you any
invitation to fill the gap.

JP

Le mer. 6 mars 2019, à 11 h 02, Vinícius Garcia <notifications@github.com>
a écrit :

[2019-03-12 00:09] VinGarcia commented on #65
Yeah, no problem, I will take a look.

[2019-03-12 02:26] jpfeger commented on #65
Great ;-) As soon as you accept my invitation I'll be able to send my pull
request.

[image: image.png]

Le lun. 11 mars 2019, à 20 h 09, Vinícius Garcia <notifications@github.com>
a écrit :

[2019-03-16 02:08] jpfeger commented on #65
Hi Vinicius,

I am currently completely stalled: unless I missed something here, there is
no way for you to review my changes through a pul request without you first
accepting my invitation as a contributor to my forked repo (
https://github.com/jpfeger/cparse/invitations )

JP

Le lun. 11 mars 2019, à 20 h 09, Vinícius Garcia <notifications@github.com>
a écrit :

[2019-04-09 05:33] EpsilonQ opened #67 "Memory leak due to lack of std::forward"
Lack of proper forwarding is causing packToken(const packToken&) to be called instead of packToken(packToken&&), given this, the destructor of the local pass in arguments was also not being c
    valgrind:memcheck 387,960 bytes in 16,165 blocks are definitely lost in loss record 261 of 267
    valgrind:memcheck    at 0x4C2A203: operator new(unsigned long) (vg_replace_malloc.c:334)
    valgrind:mem

[2019-04-10 03:10] VinGarcia commented on #67
Hello @EpsilonQ, thanks for your contribution, let's continue this discussion on PR #68.

[2019-05-03 22:30] jpfeger commented on #64
I have run the Visual Studio performance profiler on the library for the same medium sized formula calculated 1000 times. The results show that
1 - 'delete' operator takes up to 25.5 % of the inclusive time while 'new' accounts for only 1.3 %. Assuming that most of the objects built are Tokens, improvement could be then gained from using a pool of these instances
2 - there is a significant amount

[2019-05-05 20:32] VinGarcia commented on #67
PR #68 was merged, I am closing this issue. Thanks @EpsilonQ for the contribution.

[2019-05-05 20:32] #67 closed

[2019-05-05 20:44] #65 closed

[2019-05-26 15:13] pandrew83 opened #69 "visual studio 2019 + mfc + cparser"
hi.
In MFC defined type BOOL. But cparser redefines identifier BOOL in shunting-yard.h at line 37.
I don't know what i do now. I can't change MFC BOOL. May be change BOOL in shunting-yard.h?
Do you have solution?

[2019-05-26 15:19] VinGarcia commented on #69
The correct solution would probably be to wrap the cparse library on a
namespace.

I will make this change when I get home.

Thanks for reporting this problem!

Em dom, 26 de mai de 2019 12:13, pandrew83 <notifications@github.com>
escreveu:

[2019-05-27 06:55] pandrew83 commented on #69
hello
When you can close this issue?

[2020-02-18 21:40] ianhinder opened #70 ""ld: unknown option: -O1" when compiling on macOS"
When compiling on macOS, I get
[code]
because -O1 is not a valid option to the macOS (BSD) linker.  I've not come across the -O flag at link time before; is it necessary here?  It seems to be gcc-specific.  I'd just drop it for simplicity and portability if it's not really necessary.

This could be defined in LDFLAGS in the Makefile, which would allow the user to override LDFLAGS to either add or

[2020-02-18 21:54] ianhinder opened #71 "Example compilation command in README.md doesn't work for me"
If I follow the instructions under Getting Started / Setup, I get an error at the "Link with your project" stage.  This happens on macOS and Linux.  For main.cpp, I am using the example provided later under "Minimal examples".
The first problem is
[code]
because in the example, compilation happens outside the cparse directory, and cparse is not on the include path.  Adding  -Icparse to the command

[2020-03-19 01:28] zxpatric opened #72 "group/vector operation possible? Naive iteration can be expensive when number of elements is huge"
int main() {
    TokenMap vars;
    vars["pi"] = 3.14;
    std::cout << calculator::calculate("-pi+1", &vars) << std::endl;

    // Or if you want to evaluate an expression
    // several times efficiently:
    calculator c1("pi-b");
    vars["b"] = 0.14;
    std::cout << c1.eval(vars) << std::endl; // 3
    vars["b"] = 2.14;
    std::cout << c1.eval(vars) << std::endl; // 1

    **vars["b"] = {0.

[2020-03-19 19:56] VinGarcia commented on #72
The current implementation of memory management on lists is not very efficient =/. I belive the best way to fix this would be to implement a special type of list made for only for integers, floats, etc that internally would count as a single std::vector.

We could create a special type such as "TokenIntList" etc, for these cases. However, I currently don't have time to spare =/.

If you want to su

[2020-03-20 03:34] zxpatric commented on #72
Let me see if the naive is acceptable speed wise and how complicated it is to implement TokenIntList.  Is there a way that calculator::calculate can cache the equation interpretation so it doesn't have to parse it every time for every tuple?   For exmaple,   a^2+b*c.  If  there are 3 vectors for a, b, c and each tuple with one element from a, b, c will be called through calculator::calculate("a^2+

[2020-03-20 19:47] zxpatric commented on #72
Got it. may dig deep into this function and use rpn for naive iteration.

packToken calculator::calculate(const char* expr, TokenMap vars,
                                const char* delim, const char** rest) {
  // Convert to RPN with Dijkstra's Shunting-yard algorithm.
  RAII_TokenQueue_t rpn = calculator::toRPN(expr, vars, delim, rest);

  TokenBase* ret = calculator::calculate(rpn, vars);

  r

[2020-03-22 22:02] VinGarcia commented on #72
About your first comment: If you compile the expression, i.e. create an instance of the calculator class the parsing is made only on the first time. Then for each consecutive call to `eval()` it will only execute the code in the context provided by the TokenMap passed as argument and not parse it.

If this was your concern then I might have misunderstood you.

You can see how to do that on the Get

[2020-03-25 20:42] #72 closed

[2020-04-02 03:18] zxpatric commented on #72
Thanks VinGarcia. I did went that way. The speed is o...k for large amount although if there are possibilities to support vectorized operation, the best.

[2020-08-11 05:16] chrisabrams opened #74 "terminating with uncaught exception of type syntax_error: Invalid operator: -"
Followed the directions fore getting started; compiles fine but when running I'm getting this error:

`terminating with uncaught exception of type syntax_error: Invalid operator: -`

File: `main.cpp`
[code]

[2020-08-14 13:56] VinGarcia commented on #74
Hello @chrisabrams,

I made a small test here and I think I know what is going on, tell me if I am wrong:

I first ran the `make release` recipe, it compiled fine but shown some warnings (I have to look into them, they're probably from the last PR)

Then I compiled your file (I saved it as main.cpp) twice, the first one including the builtin-features the second one ignoring it here are the results

[2020-08-14 13:57] VinGarcia commented on #74
If it is, the problem is just that you are missing the builtin features, I made them like that because someone might not like the default operators and want to create something from 0.

[2020-08-14 14:32] VinGarcia commented on #71
Sure, thanks for reporting. I just fixed the README, tell me if you see any problems with the fix.

Since I took forever to answer you might not have the time to look, if that's the case I will close this issue next week.

[2020-08-14 15:05] chrisabrams commented on #74
Yes that is the error I got! Ok, I will try to figure out how to add `builtin-features.o` to Xcode.

[2020-08-14 15:23] chrisabrams commented on #74
Figured out Xcode, I will try to make a PR to add OS X/Xcode to the instructions.

[2020-08-14 15:23] #74 closed

[2020-09-01 13:07] sillydan1 opened #75 "Token names cannot have UTF8 characters"
I have some funky token identifiers in my language. (e.g. the 'ł', '€' and 'ð' characters), but this results in syntax errors. I assume this is because token identifiers only support ASCII characters.

[2020-09-01 13:42] sillydan1 commented on #75
It looks like this functionality is determined by the `isvarchar` function in the `shunting-yard.h` file. I'll see if I can fix this myself.

[2020-09-01 14:32] sillydan1 commented on #75
This is not a perfect patch by any means, but this fixed **my** issues. I'll do a fork and pull-request with a prettier and more general patch (maybe tomorrow), so that variable names can be UTF8 characters.

[code]

[2020-09-02 02:48] VinGarcia commented on #75
That's cool, thanks @sillydan1. I am looking forward to seeing your PR.

[2020-09-02 10:13] sillydan1 commented on #75
Opened the [pull request](https://github.com/cparse/cparse/pull/76) now. Closing this issue.

[2020-09-02 10:13] #75 closed

[2020-09-02 19:58] #71 closed

[2021-01-09 17:05] yurivict opened #77 "Project doesn't install anything"
It should install the headers into $PREFIX/include, etc.

[2021-01-11 12:43] VinGarcia commented on #77
It would suffice to copy the headers there? Maybe something on the Makefile like:

[code]

So you could use it like:

[code]

[2021-01-11 17:05] yurivict commented on #77
It should be ```cp *.h $DESTDIR$PREFIX/include/```.

[2021-01-12 20:24] VinGarcia commented on #77
Ok, but why do we need two variables for the path?

[2021-01-12 20:25] VinGarcia commented on #77
Also, should we add a `mkdir -p` so no errors are raised if the directory already exists or if any directory on the path also needs to be created?

[2021-01-12 20:27] yurivict commented on #77
Yes, add ```-p```. There are no 2 variants. ```$DESTDIR$PREFIX/include/cparse/``` is the expected path.

[2021-01-12 23:17] VinGarcia commented on #77
Ok, I need a reason for the 2 variables, I am sure you have one, but you'll have to explain to me why this is the expected path.

[2021-01-12 23:19] yurivict commented on #77
```$DESTDIR``` is for staged builds, ```$PREFIX``` is a standard path of install prefix.

[2021-01-12 23:36] VinGarcia commented on #77
Ok, but according to whom, is this an universal C++ pattern? Why do I need this complexity, because from what I see having 2 variables would just make the script more complicated, I need a justification for this extra complexity or I won't do it.

[2021-01-12 23:45] yurivict commented on #77
This is a universal set of variables used in all projects based on GNU Make.

[2021-01-13 22:12] VinGarcia commented on #77
That's cool, I will read about it and get back to you

[2021-02-18 16:40] AntonC9018 opened #78 "Syntax errors cause crashes"
Hello.
This simple piece of code causes a crash due to an error in the provided expression. The text "Some error" never gets printed.
[code]

Changing the expression to e.g. `5*x` makes it print the correct result.
This is very unfortunate, since I expect the users of my application to be notified of an error if they input an invalid expression. Is there anything I'm doing wrong or is there any ot

[2021-02-18 18:02] AntonC9018 commented on #78
The error is for sure at `calc.eval(tm)` and not at `asDouble()`. Trying to store the result of `eval()` crashes the program before the result is obtained.

[2021-02-18 18:45] AntonC9018 commented on #78
This also crashes without any errors thrown.
[code]

[2021-02-21 16:14] VinGarcia commented on #78
Hello @AntonC9018, thanks for reporting and also with a minimal example with the bug, I will try to understand it and then I will get back to you =].

[2021-02-21 16:35] VinGarcia commented on #78
Uhm, ok this might be one of those pesky ones, because I was unable to reproduce the first example, so the steps I did were:

First I created a `main.cpp` file and cloned the master branch of the cparse project on a subdirectory `cparse/`.

In the `main.cpp` file I inserted your code:

[code]

Then I built the `core-shunting-yard.o` file with `make release -C cparse` and finally compiled and execu

[2021-02-21 16:40] VinGarcia commented on #78
Also as a side note, the `packToken` type works with `cout` so you could do it like this:
[code]

Buf for debugging purposes, I am glad you used `printf` since it avoids implicit calls to AsDouble that would have happened using this trick

[2021-02-21 17:11] AntonC9018 commented on #78
Ok, here's what I'm doing for the first example (this time without custom features):
1. Git clone the latest code with `git clone https://github.com/cparse/cparse cparse`
2. Compile with mingw's make (I'm on Windows 7). `mingw32-make release -C cparse`
3. Compile the code below with `g++ -std=c++11 cparse/core-shunting-yard.o test.cpp`

[code]

4. Run the code with `a`. The program produces no out

[2021-02-21 17:16] AntonC9018 commented on #78
Wait, this time it's even weirder. This code also crashed for me:
[code]
Whereas `calc.compile("5");` works fine. `calc.compile("5*x", tm);` also crashes it.

[2021-02-21 17:47] AntonC9018 commented on #78
Ok, I guess one also has to link against `builtin-features.o`. If I do this, though, `calc.compile("5*x");` works, but `calc.compile("5&&&x");` still just crashes the application, without any output. Trying it with `calc.compile("y");`, while no such symbol y has been defined or given value, prints the following:
[code]
"Some error" is never printed.

[2021-02-21 18:06] AntonC9018 commented on #78
Thought I'd mention the compiler version too.
[code]

[2021-02-21 18:22] AntonC9018 commented on #78
I've also tried to catch each type of error your code ever throws individually, to no avail. This code also results in a crash, without any prints.

[code]

[2021-02-21 18:26] AntonC9018 commented on #78
Also tried running the tests. I have not had experience with C++ tests, so I might be wrong. I have compiled the `test-shunting-yard.cpp` with `g++ test-shunting-yard.cpp core-shunting-yard.o builtin-features.o catch.cpp`, then ran the executable. It also simply crashes.

[2021-02-21 19:12] AntonC9018 commented on #78
The last thing I tried is compiling the entire thing, without linking to libraries. Compiling and running the code from above from scratch with `g++ -std=c++11 shunting-yard.cpp packToken.cpp functions.cpp containers.cpp builtin-features.cpp test.cpp` does indeed print `Domain error`. `catch (...)` also works fine with this. I guess this approach works for me.
Any ideas on why this would be happen

[2021-02-22 03:08] VinGarcia commented on #78
Hello @AntonC9018 sorry I disappeared,  I had some things to do tonight, tomorrow I'll continue the investigation

[2021-02-23 01:58] VinGarcia commented on #78
About the tests, it should be enough to run `make test`.

About the `5*x` indeed we need the `builtin-feature.o`, about compiling it just with `y` the compilation actually works, what throws is when you try to convert it to double, since it is only an unbound variable.

One thing you could try is to to:

[code]

Since all exceptions inherit from std::exception this should work unless we are talkin

[2021-02-23 02:03] VinGarcia commented on #78
This is very weird. But sadly this is normal when we are working with C++ on different platforms =/.

The g++ version has an output very different from yours but it is also on the 10.2.0 version:

[code]

[2021-02-23 02:07] VinGarcia commented on #78
That said, if compiling including all cpp files is working for you this is great, but I have no idea of how to fix this so that future users don't have this problem. If you find out it would be great if you could submit a PR with a fix.

So, I will focus on fixing that problem where it would not throw for the expression `"5x"` and evaluate to `5.0000`, but I have little time for making these fixes

[2021-02-26 19:01] SweetVishnya opened #79 "Hexadecimal number computation"
Hi!

What is the best way to perform hex numbers calculations? Like 0x123 + 0x456.

[2021-04-23 20:20] dimxy opened #80 "calculator ignores variable"
I wrote a simple code example:
[code]
This prints "v2" and looks like it ignores v1 completely. I wonder why. I expected this expression would output a syntax error because of the omitted operator between v1 and v2. And this is also not two separate statements (as there is no ';' between them). What does this expression mean to the calculator?

[2021-04-24 15:56] VinGarcia commented on #79
Hello, @SweetVishnya I am sorry, I've only seen your message now.

I was going to tell you that the project doesn't support it, but it was a simple thing to add so I just did it:

5080c4990b49224fbe70313335c08d68cb5e238d

Now it should be easy to use hex numbers and also octal numbers, e.g.:

[code]

[2021-04-24 15:57] VinGarcia commented on #79
I will close this issue, but feel free to reopen it if you find this solution doesn't solve your problem.

[2021-04-24 15:57] #79 closed

[2021-04-24 16:03] VinGarcia commented on #80
Hello thanks for reporting, I think this is likely to be one of the 2 problems mentioned on issue #78, namely:

[code]

This is not throwing any errors.

I will try to fix it this weekend but it has been hard for me to save time for working on these more complicated issues. If I take forever to answer and you happen to have some time and want to try to fix this yourself I would be happy to accept

[2021-04-24 19:45] dimxy commented on #78
This code does print "Some error" on my MacOS:
[code]
If I remove try/catch it aborts with an unhandled exception: `terminating with uncaught exception of type syntax_error: Invalid operator: &&&`. So it seems cparse works correctly in this case. I think the problem with exception not caught on MINGW relates to exception handling on this specific platform. Normally catch(...) should catch all exce

[2021-04-25 07:58] SweetVishnya commented on #79
Hi!

I already implemented a shutting yard algorithm for my specific application. Also, your solution won't support uint64_t numbers.

[2021-04-25 11:10] VinGarcia commented on #79
Hello @SweetVishnya, my fault for taking so long to answer sorry 😅 , but regarding uint64_t yeah I wont support it by default since the idea is to have a simple generic parser, but you should be able to personalize it creating:

[A new type](https://github.com/cparse/cparse/wiki/Defining-New-Types)

And then [a new reserved word such as `10u`](https://github.com/cparse/cparse/wiki/Defining-Reserve

[2021-04-25 11:21] VinGarcia commented on #78
Interesting, but I think that the problem reported on stackoverflow is probably something different since he was able to fix it by recompiling everything from source instead of using the intermediary `.o` files the Makefile produce. But it might be a good place to start investigating.

[2021-04-25 13:01] VinGarcia commented on #80
Hello, @dimxy I've added an extra check for this type of syntax error and 2 tests to make sure this keeps working in the future.

Can you please check if it solves your problem and then close this ticket?

Thanks =]

[2021-04-25 13:04] VinGarcia commented on #78
@AntonC9018 I have just submitted a commit that should fix the problem where it was not throwing for invalid expressions such as `5x`:

aed8ce0be3063596a232c24d8e9693ada0962353

Regarding the error with throw, I don't know how to fix it since I can't reproduce it, so if the commit above solves the other problem I think we should close this ticket.

[2021-04-25 13:13] AntonC9018 commented on #78
Sure.
I ended up using a different library anyway.

[2021-04-25 13:17] dimxy commented on #80
it works, perfect, thank you!

[2021-04-25 13:17] #80 closed

[2021-04-25 13:41] dimxy opened #81 "Consider adding a namespace to cparse code"
I suggest adding namespace around the cparse code.
(May be useful as I had name conflicts when I was adding cparse to my project, probably other devs might have as well)

[2021-04-25 20:51] VinGarcia commented on #81
Hello @dimxy, yeah I know it's necessary, but I tried it a while ago the code is just too intertangled and the C++ syntax is too sensitive to changes =/.

In short, the problem that there are a few circular dependencies that are really hard to fix while migrating to a namespace. I might need to refactor the code adding some abstract classes so it's better decoupled before trying it again.

Also if

[2021-04-26 00:33] VinGarcia commented on #78
Yeah, I figured xP, anyway thanks for reporting.

[2021-04-26 00:33] #78 closed

[2021-04-26 14:08] VinGarcia commented on #81
Sure, that would be great =]

[2021-04-26 21:39] VinGarcia commented on #81
Thanks @dimxy, I've merged the PR #82 it is very clean thanks! I will close this issue now.

[2021-04-26 21:39] #81 closed

[2021-04-26 21:45] VinGarcia commented on #81
Actually, I feel I haven't thanked you enough, I remember how hard it was to fix this problem when I tried. Maybe you have more experience than me, in any case, thank you very much @dimxy =].

[2021-04-27 07:40] dimxy commented on #81
I was happy to help

[2021-05-05 14:30] vutrungnghiahust99 opened #83 "Program treats "." in numeric "0.x" as an operator and throw an exception!"
![error](https://user-images.githubusercontent.com/46959272/117157183-947a6800-ade8-11eb-8675-3f233f005388.png)
When I parse the expression: "b+0.5", the program treats "." in "0.5" as an operator, then throw an exception.

[2021-05-05 16:16] VinGarcia commented on #83
Uhmm, this might be something new, I made an update in the code that parses numbers. I will investigate it tonight and try to fix this. Thanks for reporting.

[2021-05-05 16:21] VinGarcia commented on #83
Actually, this was really simple to fix =], I fixed it on commit: 9576265e14fe55ef23108ec19cfea81eccb14e9d

Can you check to see if this works for you?

[2021-05-05 17:07] vutrungnghiahust99 commented on #83
It works now. Thank you so much. I have been struggling with this issue for a day at my company. By the way, could you add a README to run "test-shunting-yard.cpp", I know this file is used to run test cases but I don't know how to run it.

[2021-05-05 17:07] #83 closed

[2021-05-05 17:26] VinGarcia commented on #83
Sure, I will add it to the README file, but in short the Makefile handles it, so you need to `make` installed and then you can just run:

[code]

And everything should just work

[2021-05-05 17:29] VinGarcia commented on #83
Done:

https://github.com/cparse/cparse/blob/master/README.md#running-the-library-tests

=]

[2021-07-29 16:11] sarthaku21 opened #84 "Thread Safety"
I was trying to use cparse in multi threaded application as a expression evaluator and varriable manager. I had to use static mutex in packToken class to ensure thread safety, the performance obviously took a hit. Is there a better way to do this?

Thanks

[2021-07-30 14:51] VinGarcia commented on #84
Uhm, so what you have is multiple threads writing to the same TokenMap or PackToken at the same time. So I can try to think of some alternatives, but I might need more info to understand which options we have.

One possible option might be to just change the architecture of the project so that threads communicate using a safe channel, as in "passing messages" instead of "sharing variables", but th

[2021-08-07 20:33] VinGarcia commented on #84
If this solved your problem I will close this issue (no hurry though)

[2021-08-08 08:40] sarthaku21 commented on #84
Hi,
I have introduced a recursive lock in packToken that ensures safe access. The problem is when we try to run calculator in a parallel thread. The = operation in packToken does a delete base, which cause the calculator to give a segmentation fault when resolving refTokens. I am still not able to solve this efficiently.
The application contains multiple threads, some updating packTokens, other ev

[2021-08-09 20:37] VinGarcia commented on #84
Yeah, so this is just my opinion, but I really think that adding a lock on every packToken might be the wrong approach. For example, I don't think there is any programming language that has built-in locks for every variable exactly because this is very inefficient.

So if efficiency is a concern I would recommend either using explicit locks, which are already available in C++ and should be easier

[2021-08-25 03:25] xilh opened #86 "Is not operator supported?"
Hello, I want to use experssion like "!connected". Is there a way to do this? Thank you.

[2021-10-04 11:55] #84 closed

[2021-10-04 12:14] VinGarcia commented on #86
Yes it's possible, you could add it by following the Wiki instructions here:

https://github.com/cparse/cparse/wiki/Defining-New-Operations#declaring-unary-operations

But since this is a very sane thing to be on the builtin operations, I just added it myself:

11ff91ca0c694ee5dc0f28252eef9c169c848c7c

So you just have to pull the most recent version of this repo.

Also sorry I took so long to see

[2021-11-09 13:04] sandszhouSZ commented on #70
yes, when delete it, the code could compile successfully, but the demo could not run successfully

[2021-11-10 12:45] VinGarcia commented on #70
Hello @ianhinder and @sandszhouSZ sorry for the late reply, yes I think we can fix this in the Makefile, about the -O flag at link time, it is indeed a valid argument in Linux:

Running `man ld`:

[code]

I will create a PR conditioning this `-O1` to Linux , about the `-O3` used with g++, is this one also causing problems on macOS?

[2021-11-10 12:54] VinGarcia commented on #70
So I wrote the PR, can you guys test it to see if it is working on your environment, since I don't have a macOS for testing it.

https://github.com/cparse/cparse/pull/87

[2021-11-15 05:17] powof2 opened #88 "Warning c4099 is everywhere."
hi great job,
but my output window is filled with all these warnings, can this be fixed, thank you.
[code]

[2021-11-15 12:49] VinGarcia commented on #88
Yes I can fix it, but since these don't show up on Linux it might be complicated for me to fix all of them. I can start a PR fixing these ones you mentioned and then if you have time you could fix the remaining ones, what do you think about this idea?

[2021-11-15 12:52] VinGarcia commented on #70
@ianhinder and @sandszhouSZ can you guys help me test the PR #87 ? If it works I can merge it.

[2021-11-16 01:47] VinGarcia commented on #69
Oh I forgot about this one, sorry @pandrew83 I will close it now =]

[2021-11-16 01:47] #69 closed

[2021-11-19 16:53] #77 closed

[2021-12-04 14:45] VinGarcia commented on #70
Since no one answered I will just merge it and if there are any problems I will have to wait for someone that uses Mac to open a ticket.

[2021-12-04 14:49] VinGarcia commented on #70
Done.

[2021-12-04 14:49] #70 closed

[2022-03-02 21:04] Jg747 opened #91 "Invalid operators, but with ALL operators"
All my expressions (on Windows) throw the "Invalid operator" exception and I can't figure out why. Here's the error:

`C:\msys64\mingw64\bin\g++.exe -fdiagnostics-color=always -g C:\Users\Jg_747\iCloudDrive\Desktop\Progetti\Pseudo\Current\Pseudo.cpp -o C:\Users\Jg_747\iCloudDrive\Desktop\Progetti\Pseudo\Current\Pseudo.exe
In file included from C:\Users\Jg_747\iCloudDrive\Desktop\Progetti\Pseudo\Cu

[2022-03-12 19:53] Jg747 opened #92 "It doesn't compile in Windows and Linux, am I doing something wrong?"
For Ubuntu I followed your Linux setup guide and when I compile the code this is the error given:
https://pastebin.com/nhBt5KPX

Then I tried on VS Code but I can't compile there too,  and it give me this error:
https://pastebin.com/SUE7UgbA

The VS Code "task.json" for compiling is the following:
`{
	"version": "2.0.0",
	"tasks": [
		{
			"type": "cppbuild",
			"label": "C/C++: g++.exe compila il

[2022-03-19 01:32] powof2 commented on #88
Pull request has been created: 3 places in containers.h and 2 in shunting-yard.h.

[2022-03-19 01:32] #88 closed

[2022-03-21 17:40] VinGarcia commented on #88
Thanks @powof2, just merged your changes.

[2022-05-08 03:08] VinGarcia commented on #92
Hey, @Jg747 I'm sorry, I missed your two issues, this happens when I don't read my emails on that day =/.

I will investigate what is going on, I imagine you have moved to use something else, but thank you for creating these issues and reporting this problem.

Regards.

[2022-05-08 09:19] Jg747 commented on #92
No, don't worry, I solved the issue by myself. The error was that I wasn't compiling the .cpp files of CParse into one application, I only compiled the main and linked your library, now it works well.

[2022-05-08 13:41] VinGarcia commented on #92
Oh that's good. I am happy it worked eventually. I will then proceed to close this issue and the other one. Feel free to create new ones if you need, I will try to respond faster next time =P

[2022-05-08 13:41] #92 closed

[2022-05-08 13:42] VinGarcia commented on #91
I am assuming this issue is related to the other one, that you informed me that is already solved. So I will close this one too.

If this is not the case feel free to ask me to reopen it.

[2022-05-08 13:42] #91 closed

[2022-06-14 14:33] VinGarcia commented on #64
Closing this issue, for now, it's possible to optimize this by implementing type-specific arrays (like an int array) so that instead of having several tokens per list we'll keep a single token containing an `std::vector<int>` or something like that. But this would need to be done for all types, or at least all basic types. If anyone wants to try this it's okay and we can reopen this ticket, but I

[2022-09-28 11:49] bladchan opened #95 "Buffer-overflow (out-of-bounds read) may occured in two positions"
Hi,

I am running some experiments for AFLAPI and it has found two buffer-overflows (read) in `cparse::packToken::str[abi:cxx11]` and `cparse::calculator::toRPN`.

**Environment**: Ubuntu 18.04 + clang 6.0.0

**Poc 1**:
[code]

**Poc 2**
[code]

**Files are here:**
[heap_overflow_files.zip](https://github.com/cparse/cparse/files/9664507/heap_overflow_files.zip)

**To reproduce**:
1. Complie the po

[2022-10-31 03:57] spelsinx opened #97 "Errors with Linux emulator using GCC"
Run jspy.cpp:
`~/j $ gcc jspy.cpp
In file included from jspy.cpp:6:
In file included from ./statements.h:6:     ././cparse/shunting-yard.h:268:37: warning: 'const' qualifier on function type 'cparse::rWordParser_t' (aka 'void (const char *, const char **, cparse::rpnBuilder *)') has no effect [-Wignored-qualifiers]
  void add(const std::string& word, const rWordParser_t* parser) {

[2022-10-31 16:24] VinGarcia commented on #97
So, were you trying to compile the JSpy language that I built during my master's degree? It might be better to create a ticket on that project instead:

https://github.com/vinGarcia/jspy

[2022-10-31 16:29] VinGarcia commented on #95
Hey @bladchan that seems really cool, I will learn more about this AFLAPI, I am curious how it was able to find these bugs and then I will investigate these and fix them, thank you!

Also sorry for taking forever to see this comment, I missed the email notification.

[2022-10-31 20:17] spelsinx commented on #97
I don't understand what you mean, can you explain better?
I tried to do from the usual example с, the same error.

[2022-11-01 00:00] VinGarcia commented on #97
`jspy.cpp` is a file from this other project:

https://github.com/VinGarcia/jspy

This file does not exist on https://github.com/cparse/cparse, so I am wondering what steps led you to try to compile that other file.

[2022-11-01 00:02] VinGarcia commented on #97
Now that I am thinking more about it, I think one of the examples did make a reference to that file, maybe that is what you did. But if you can give me more details of what led you to this compilation error it would be helpful. (and yeah even if this is a problem with that other project I need to do something, either remove this reference from the documentation of this project or fix that problem

[2022-11-02 19:10] spelsinx commented on #97
I didn't do anything to cause the error to appear. I have tried running cparse and jspy.cpp with the same errors when running them. I'm using Termux - Linux emulator for android. Based on the errors that I threw, I tried to add:
using cparse::TokenMap, using cparse::packToken, and I immediately got some C++ errors there, in short - garbage was displayed. And believe me - I set up the paths correct

[2022-11-02 19:25] VinGarcia commented on #97
Hello @spelsinx, I am not blaming you or anything like that.

It is probably your first time submitting an issue in an open-source project, so there are some guidelines on how to do that, the main thing is that I don't have a lot of time to investigate these issues since I am not paid for it, so I need as much help from you as possible.

So, the first thing that is important when creating these is

[2022-11-02 19:39] spelsinx commented on #97
If anything, I use a translator.

1. I am using Termux emulator in Android environment.
2. Commands that I used:
     1. git clone https://github.com/cparse/cparse
     2. cd parse
     3. make
And the errors that I threw in the first message were highlighted, that is, like jSpy.cpp
3. I didn't use the documentation.

[2022-11-02 20:02] spelsinx commented on #97
For example when I use "make shell" from https://github.com/VinGarcia/jSpy the same errors are shown as in the first message.

[2022-11-02 20:17] VinGarcia commented on #97
Yeah, the strange thing about it is that I did not expect cparse to have any dependency with jspy, so I am confused about how that error message included the name jspy.cpp

[2022-11-02 22:14] VinGarcia commented on #97
One question this error message you send, was when you were compiling the cparse project or the jspy project?

[2022-11-02 22:20] VinGarcia commented on #97
Just so you know I only stopped working for now, so I am starting to investigate it now.

[2022-11-02 22:43] spelsinx commented on #97
errors occur in both scripts :(

[2022-11-02 22:43] spelsinx commented on #97
Oh, ok

[2022-11-02 22:48] VinGarcia commented on #97
I need the errors that happen on cparse, I am not even sure whether jspy is still working, it was a long time ago.

[2022-11-02 22:49] VinGarcia commented on #97
And it was not ready to be used outside of the scope of my Master's, so it is at most an example of how it can be used. What you really need to compile is just cparse.

[2022-11-02 23:52] VinGarcia commented on #97
Just to make it clear: I won't try to figure out what is going on with JSpy because the real problem is on CParse. If I start investigating JSpy I might end up fixing several problems unrelated to what is really preventing you from using it, and since my time is limited it would not be ideal.

[2022-11-03 09:03] spelsinx commented on #97
Yes, I already told you, and threw that the errors are the same, the same.

[2022-11-04 13:11] VinGarcia commented on #97
So, really can't see how that output would come from CParse. If you search in the code there is not reference at all to `jspy` even if you search for it in a case-insensitive way:

[code]

There is also no file named `jspy.cpp` in this project, you can check that using find:

[code]

So I cannot investigate based on the output you sent me because it is not from the CParse project. Can you please r

[2022-11-11 11:40] pan-lj opened #99 "TokenMap value change to None，when using getChild()"
<img width="786" alt="image" src="https://user-images.githubusercontent.com/47551508/201643764-5e3e5747-cc63-4d81-bfd1-6b7c0750b965.png">
<img width="280" alt="image" src="https://user-images.githubusercontent.com/47551508/201332271-d2531f63-cf5b-4d50-9c19-c23cd6d2253e.png">
the value in local are all None, but not in scope

the code below is normal:
<img width="735" alt="image" src="https://user-

[2022-11-19 02:05] VinGarcia commented on #99
Hey @pan-lj I think this is actually a misunderstanding of how the TokenMap type works. In your example you wrote the following:

[code]

But in this code you are ignoring the value returned by `local.find(m.first)` when it is not `null`, but this is actually the value that you want, so instead you should replace the `local[m.first]` with this value when printing, like this:

[code]

The TokenMap

[2022-11-19 02:05] VinGarcia commented on #97
Ok, I will close this ticket for now, if you want you can reopen it.

[2022-11-19 02:05] #97 closed

[2022-11-19 03:00] pan-lj commented on #99
but when I calculate self define function, it will get error: The Token None is not a string!

[2022-11-19 04:09] pan-lj commented on #99
thanks for your explanation, if I want to implement the intended behavior for the C++ operator, can I implement operator[] like this:
`packToken& TokenMap::operator[](const std::string& key) {
  if (!parent() || map().find(key) != map().end()) {
    return map()[key];
  }
  return (*parent())[key];
}`

[2022-11-19 13:43] spelsinx commented on #97
The problem is solved, I indicated this declaration in all the files mentioned above in the error:
``using namespace cparse;```.
As well as I compiled cparse.

[2022-11-19 15:03] VinGarcia commented on #99
Yeah on a visual inspection it looks correct. But overwriting these operators usually comes with some surprises, I would recommend writing some tests to be sure it is working as expected, but it looks ok.

[2022-11-19 15:07] VinGarcia commented on #97
Hehe, I am glad to hear it worked.

Feel free to open more tickets if you have any further issues. I just didn't investigate this one because the error message was mentioning files from another project and I would have no way to know whether the issue described in this error message was related to CParse, and if it was not I would have to do the investigation twice.

[2022-11-20 07:16] pan-lj commented on #99
Okay, I will test it, thanks.